/* body{
    background-color:rgb(90, 90, 203);
}
h1{
    color: rgb(20, 23, 23);
}
button{
    background-color: cadetblue;
}
h2{
    color:brown;
} */

.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
    border: solid , 2px, blue;
    background-color: chartreuse;
}